# Database
DATABASE_URL="mongodb://guard:guard_secret@localhost:27017/guard?authSource=admin"

# Application
NEXT_PUBLIC_APP_NAME="BLACK SHIELD SÉCURITÉ PRIVÉE"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Auth placeholder (Phase 1)
AUTH_SECRET="change-me-in-production-use-openssl-rand-base64-32"
AUTH_ENABLED="false"

# MongoDB Docker (used by docker-compose)
MONGO_INITDB_ROOT_USERNAME=guard
MONGO_INITDB_ROOT_PASSWORD=guard_secret
MONGO_INITDB_DATABASE=guard
